.price-card {

  width: 100%;
  background: white;
  text-align: center;


  .price-content {

    lost-center: 990px;
    padding: 30px 0 0 0;
    @mixin clearfix;

  }


 .price-box {
   lost-column: 1/1;
   padding: 15px;

   border: 1px solid rgba(170, 170, 170, 0.39);
   background-color: #F8F8F8;
   margin-bottom: 20px;

   @mixin atMedium {
     lost-column: 1/3 ;

   }

   .btn {
     display: inline-block;
     padding: 10px 15px;

   }
   &__title {
     font-size: 18px;
     margin: 0;
     padding: 0;
     text-align: center;
   }
   &__subtitle {
     font-size: 18px;
     padding: 0;
     text-align: center;
     margin:0 0 25px 0;

   }

   &__prices {
     text-align: center;


     &__old {

       font-size: 18px;
       color: #AAAAAA;
       text-decoration: line-through;
       text-align: center;
       margin: 0;


     }

     &__new {
       font-size: 32px;
       color: $pink;
       text-align: center;
       font-weight: 900;
       margin: 0;

     }

     &__save {

       font-size: 18px;
       color: #AAAAAA;
       text-align: center;
       margin:0 0 25px 0;


     }

     &__desc {
       font-size: 18px;
       text-align: center;
       margin: 5px;

     }
   }





 span {

   }


 }


}
